---
import { PageHeader } from "@components/features/page-header";
import { ProjectCard } from "@components/features/projects";
import MainGridLayout from "@layouts/MainGridLayout.astro";

import { siteConfig } from "../config";
import { projectsData } from "../data/projects";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";

if (!siteConfig.featurePages.projects) {
	return Astro.redirect("/404/");
}

const title = i18n(I18nKey.projects);
const subtitle = i18n(I18nKey.projectsSubtitle);
---

<MainGridLayout title={title} description={subtitle}>
	<script>
		import("../scripts/right-sidebar-layout.js");
		import { loadIconify } from "../utils/icon-loader";

		loadIconify().catch((error) => {
			console.error("Failed to load Iconify:", error);
		});
	</script>

	<div
		class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32"
	>
		<div class="card-base z-10 px-6 sm:px-9 py-6 relative w-full">
			<PageHeader title={title} subtitle={subtitle} />

			<div
				id="projects-grid"
				class="grid grid-cols-1 md:grid-cols-2 gap-6 items-start"
			>
				{
					projectsData.map((project) => (
						<ProjectCard project={project} maxTechStack={4} />
					))
				}
			</div>
		</div>
	</div>
</MainGridLayout>
